@use "sass:color";

.powermenu {
  background-color: rgba(0, 0, 0, 0);
}

.powermenu-container {
  background-color: rgba($crust, 0.8);
  padding: 10px;
  border-radius: 10px;
}

.btn {
  background-color: rgba($base, 0.8);
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  transition: all 150ms ease-in-out;
  outline: none;
  border: 2px solid transparent;

  &:hover,
  &:focus {
    background-color: lighten($base, 10%);
  }
}

.btn-shutdown {
  &:hover,
  &:focus {
    border: 2px solid $red;
  }
}

.btn-reboot {
  &:hover,
  &:focus {
    border: 2px solid $peach;
  }
}

.btn-lock {
  &:hover,
  &:focus {
    border: 2px solid $lavender;
  }
}

.btn-logout {
  &:hover,
  &:focus {
    border: 2px solid $sapphire;
  }
}

.btn-sleep {
  &:hover,
  &:focus {
    border: 2px solid $yellow;
  }
}

.btn-hibernate {
  &:hover,
  &:focus {
    border: 2px solid $flamingo;
  }
}
